{% load static %}
<html lang="pt-br">
  <head>
    <title> Projeto Web </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container-fluid p-4 m-2 border">
        <div class="row">
          <div class="col-md-8">
            <h2>Vitrine Virtual</h2>
          </div>
          <div class="col-md-4">
            <div class="toast" data-autohide="false">
              <div class="toast-header">
                <strong class="mr-auto text-primary">Selecione a sua cidade</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
              </div>
              <div class="toast-body">
                <input type="text" name="city">
                <button type="button" name="bt_city" class="btn btn-info m-2">Buscar</button>
              </div>
            </div>
            <script>
            $(document).ready(function(){
              $('.toast').toast('show');
            });
            </script>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid border">
      <div class="row">
        <div class="col-md-8 border">
          {% if user.is_authenticated %}
          <div class="col-sm-auto border">
            <button type="button" class="btn btn-info m-2 p-2 md-2">Meu perfil</button>
            <button type="button" class="btn btn-info m-2 p-2 md-2">Modo Vitrine</button>
            <button type="button" class="btn btn-info m-2 p-2 md-2">Minhas mensagens</button>
            <button type="button" class="btn btn-info m-2 p-2 md-2">Sair</button>
          </div>
          {% else %}
          <div class="form-inline m-md-auto border">
              <label for="userName" class="mr-md-2">Usuário:</label>
              <input type="text" class="form-control mb-2 mr-sm-3" id="userName" placeholder="nome de usúario"
              name="userName">
              <label for="userPassword" class="mr-md-2">Senha:</label>
              <input type="password" class="form-control mb-2 mr-sm-2" id="userPassword" placeholder="senha"
              name="userName">
              <div class="col-md-auto border">
                <button type="button" class="btn btn-primary m-2 p-2 md-2">Confirmar</button>
                <button type="button" class="btn btn-primary m-2 p-2 md-2">Cadastrar</button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
