header, footer{
    background-color: #dbd6c3;
}

body{
  background-color:#f2eacb;
}

#title_base, title_showcase{
  font-style: oblique;
  font-family: sans-serif;
  font-variant: small-caps;
}

#menu_category{
  background-color: #edddc7;
}

#menu_filter{
  border-style: solid;
  border-width: 2px;
  border-color: #c7b89b;
}

#menu_page{
  background-color: #e3dacf;
}

.col-lg-2{
  border-style: solid;
  border-width: 2px;
  border-color: #c7b89b;
}

.card{
  background-color: #cbd0d6;
}
