{% load static %}
<html lang="pt-br">
  <head>
    <title> Projeto Web </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container-fluid p-4 m-2 border" id="base_header">
        <div class="row">
          <div class="col-lg-8">
            <a href="{% url 'home' %}" class="display-3" id="title_base">Vitrine Virtual</a>
          </div>
          {% if needSearchCity %}
            <div class="col-md-4">
              <div class="toast" data-autohide="false">
                <div class="toast-header">
                  <strong class="mr-auto text-primary">Selecione a sua cidade</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                </div>
                <div class="toast-body">
                  <input type="text" name="city">
                  <button type="button" name="bt_city" class="btn btn-info m-2">Buscar</button>
                </div>
              </div>
              <script>
              $(document).ready(function(){
                $('.toast').toast('show');
              });
              </script>
            </div>
          {% endif %}
        </div>
      </div>
    </header>
    {% block menu_user %}
      {% include 'blog/menuUser.html' %}
    {% endblock %}
    {% block content%}
    {% endblock %}
    <br>
    <br>
    <footer>
      <div class="container-fluid border">
        <div class="row">
          <div class="col-sm m-3">
            <a href="#">Quem nós somos</a>
          </div>
          <div class="col-sm m-3">
            <a href="#">Preciso de ajuda</a>
          </div>
          <div class="col-sm m-3">
            <a href="{% url 'forum:forum_home' %}">Acesse o fórum</a>
          </div>
          <div class="col-sm m-3">
            <a href="#">Por que criar uma vitrine Virtual?</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
