{% block content %}
  <div class="container-fluid border" id="menu_page">
    <div class="row">
      <div class="col-md-auto">
        {% if showcase_exist %}
          <div class="container-fluid col-md-12 m-2" id="menu_page">
            <div class="row">
              <nav class="col-lg nav nav-pills m-2">
                <a href="#" type="button" class="btn btn-info m-2 p-2 md-2" data-toggle="popover"
                data-placement="bottom" data-trigger="hover" data-content="Essa função ainda não está funcionando D:">
                  Ver mensagens de clientes
                </a>
                <a href="#"  type="button "class="btn btn-info m-2 p-2 md-2" data-toggle="popover"
                data-placement="bottom" data-trigger="hover" data-content="Essa função ainda não está funcionando D:">
                  Ver encomendas
                </a>
                <a href="{% url 'vitrine_home_seller' %}" class="btn btn-info m-2" id="kkkk_123" >minha vitrine</a>
                <a href="{% url 'vitrine_management' %}" class="btn btn-info m-2 p-2 md-2">Gerenciamento de produtos</a>
                <a href="{% url 'home' %}" class="btn btn-info m-2">modo cliente</a>
              </nav>
            </div>
          </div>
        {% elif user.is_authenticated %}
        <div class="col-sm-auto">
          <a href="{% url 'cliente_perfil' %}"type="button" class="btn btn-info m-2 p-2 md-2">Meu perfil</a>
          <a href="{% url 'vitrine_home_seller' %}" type="button" class="btn btn-info m-2 p-2 md-2">Modo Vitrine</a>
          <button type="button" class="btn btn-info m-2 p-2 md-2" data-toggle="popover" data-placement="bottom"
          data-trigger="hover" data-content="Essa função ainda não está funcionando D:">
            Minhas mensagens
          </button>
          <a type="button" class="btn btn-info m-2 p-2 md-2" href="{% url 'logout' %}">Sair</a>
        </div>
        {% else %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="submit" role="button" class="btn btn-info m-2 p-2 md-2 center" value="Fazer login" />
            <input type="hidden" name="next" value="{{ next }}" />
            <a href="{% url 'register' %}" role="button" class="btn btn-info m-2 p-2 md-2">Cadastrar</a>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
