{% extends 'blog/basePage.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
  <div class="container-fluid col-md">
    <div class="row">
      <div class="col-md-4 border">
        <img src="{{ produto.foto.url }}" class="img-thumbnail m-2" style="width:100%;"
         alt="Imagem de capa selecionada pela vitrine para representar o produto">
         <h2 class="font-weight-light m-2 mt-3 ml-3"> {{ produto.nome }} </h2>
         <h3 class="font-weight-light m-2 mt-5 ml-3"> {{ produto.descricao }} </h3>
         <h3 class="font-weight-light m-2 mt-5 ml-3"> Quantidade: {{ produto.quantidade }} </h3>
      </div>
      <div class="col-md-6 ml-2 border">
        <h2 class="font-weight-light m-2">Encomenda</h2>
        <form method="POST" class="post-form">
          {% csrf_token %}
          {{ form|bootstrap }}
          <br>
          {% if profile_exist %}
            <button type="submit" class="btn btn-info">Concluir encomenda</button>
          {% else %}
            <button type="button" class="btn btn-info m-2 p-2 md-2" data-toggle="popover" data-placement="bottom"
            data-trigger="hover" data-content="Você precisa cadastrar seu endereço em seu perfil antes de realizar uma encomenda">
              Concluir encomenda
            </button>
          {% endif %}
        </form>
      </div>
      <script>
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
        });
      </script>
    </div>
  </div>
{% endblock %}
