{% extends 'blog/basePage.html' %}
{% load bootstrap %}
  {% block content %}
    <div class="container">
      <h2>Cadastro</h2>
      {% if register %}
        <div class="toast" data-autohide="false">
          <div class="toast-header">
            <strong class="mr-auto text-info">Cadastro realizado com sucesso</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
          </div>
          <div class="toast-body">
            Seja bem vindo!
          </div>
        </div>
        <script>
            $(document).ready(function(){
            $('.toast').toast('show');
            });
            </script>
      {% endif %}
      <form method="POST" class="post-form">
        {% csrf_token %}
          {{ form|bootstrap }}
          <button type="submit" class="btn btn-secondary">Cadastrar</button>
          <a href="{% url 'home' %}" role="button" class="btn btn-secondary">Voltar para a Home</a>
      </form>
    </div>
    <br>
    <br>
  {% endblock %}
      <!-- <form method="registerUser" action="" class="post-form needs-validation" novalidate>{% csrf_token %}
        <div class="form-group">
          <label for="name">Nome completo:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Coloque seu nome"
          value="{{ current_name }}" required>
          <div class="valid-feedback">Válido.</div>
          <div class="invalid-feedback">Você deve ter um nome</div>
        </div>
        <div class="form-group">
          <label for="userName">Nome de usuário:</label>
          <input type="text" class="form-control" id="userName" name="userName" placeholder="Coloque seu nome de usuário"
          value="{{ current_userName }}" required>
          <div class="valid-feedback">Válido.</div>
          <div class="invalid-feedback">Você deve ter um nome de usuário</div>
        </div>
        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Coloque sua senha"
          value="{{ current_password }}" required>
          <div class="valid-feedback">Válido.</div>
          <div class="invalid-feedback">Você precisa por uma senha</div>
        </div>
         <div class="form-group">
           <label for="age">Idade:</label>
           <input type="text" class="form-control" id="age" name="age" placeholder="Coloque sua idade"
           value="{{ current_age }}" required>
           <div class="valid-feedback">Válido.</div>
           <div class="invalid-feedback">Você precisa por sua idade</div>
         </div>
        <div class="form-group" for="genre">
          Gênero:
            <select class="custom-select" id="genre" name="genre" value="{{ current_genre }}" required>
            <option value="">Selecione uma opção...</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>
            <option value="other">Outro</option>
         </select>
         <div class="invalid-feedback">Defina seu sexo</div>
        </div>
        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="remember" required>Eu concordo com os termos.</input>
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Aceite os termos para continuar</div>
        </div>
      </form> -->
