{% extends 'blog/basePage.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid col-md-12 m-2" id="menu_page">
      <div class="row">
        <div class="col-md-auto border">
          {% if user.is_authenticated %}
          <div class="col-sm-auto border">
            <a href="{% url 'cliente_perfil' %}"type="button" class="btn btn-info m-2 p-2 md-2">Meu perfil</a>
            <a href="{% url 'vitrine_home_seller' %}" type="button" class="btn btn-info m-2 p-2 md-2">Modo Vitrine</a>
            <button type="button" class="btn btn-info m-2 p-2 md-2" data-toggle="popover" data-placement="bottom"
            data-trigger="hover" data-content="Essa função ainda não está funcionando D:">
              Minhas mensagens
            </button>
            <a type="button" class="btn btn-info m-2 p-2 md-2" href="{% url 'logout' %}">Sair</a>
          </div>
          {% else %}
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <input type="submit" role="button" class="btn btn-info m-2 p-2 md-2 center" value="Fazer login" />
              <input type="hidden" name="next" value="{{ next }}" />
              <a href="{% url 'register' %}" role="button" class="btn btn-info m-2 p-2 md-2">Cadastrar</a>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-3 border">
      <div class="row">
        <input type="text" class="col-md-7 m-2 ml-3 form-control" placeholder="O que você procura?">
        <button type="submit" class="col-md-3 btn btn-info m-1" data-toggle="popover" data-placement="right" data-trigger="hover"
        data-content="Essa função ainda não está funcionando D:">
          Buscar
        </button>
      </div>
    </div>
    <div class="container-fluid col-sm m-3">
      <div class="row">
        <div class="col-lg-2 border">
          <div class="row">
            <nav class="col-sm-12 mt-2 nav flex-column text-center">
              <a class="nav-link" href="#" data-toggle="popover" data-placement="right" data-trigger="hover"
              data-content="Essa função ainda não está funcionando D:">
                Maior relevância
              </a>
              <a class="nav-link" href="#" data-toggle="popover" data-placement="right" data-trigger="hover"
              data-content="Essa função ainda não está funcionando D:">
                Menor preço
              </a>
              <a class="nav-link" href="#" data-toggle="popover" data-placement="right" data-trigger="hover"
              data-content="Essa função ainda não está funcionando D:">
                Maior preço
              </a>
              <a class="nav-link" href="#" data-toggle="popover" data-placement="right" data-trigger="hover"
              data-content="Essa função ainda não está funcionando D:">
                Mais encomendados
              </a>
            </nav>
          </div>
        </div>
        <div class="col-sm-auto mr-auto border">
          <h3 class="col-sm m-2 border font-weight-light">Produtos</h3>
          <br>
          <div class="row">
            {% for produto in produtos %}
            <div class="card m-2" style="width:200px;">
              <img class="card-img-top" src="{% static "media/produto.jpeg" %}"
              alt="Imagem padrão para os produtos na qual contém vários objetos desenhados como roupa, bolsa, camera, celular e afins">
              <div class="card-body">
                <h4 class="card-title">{{ produto.nome }}</h4>
                <p class="card-text">R$ {{ produto.valor }}</p>
                <a href="#" class="btn btn-primary" data-toggle="popover" data-placement="bottom" data-trigger="hover"
                data-content="Essa função ainda não está funcionando D:">encomendar</a>
              </div>
            </div>
            {% empty %}
            <h2 class="m-2 font-weight-light">Essa vitrine não possui nenhum produto</h2>
            {% endfor %}
          </div>
        </div>
        <script>
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>
        <div class="col-lg-4 border">
          <br>
          <img src="{% static "media/vitrine.png" %}" class="img-thumbnail mt-0"
           alt="Imagem padrão para todas as vetrines que contém uma lojinha cinza desenhada com detalhes em azul, marrom e laranja">
          <h3 class="col-lg m-3 font-weight-light">{{ vitrine.nome }}</h3>
          <div class="col-sm-auto mt-5 ml-3">
            <h5 class="font-weight-light"> {{vitrine.descricao }} </h5>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
