{% extends 'blog/basePage.html' %}
{% load static %}

{% block content %}
 {% if showcase_exist %}
    <div class="container-fluid col-sm m-3">
      <div class="row">
        <div class="col-lg-2">
          <div class="row">
            <h5 class="col-sm-12 font-weight-light text-center">Sua categoria de produtos</h5>
            <nav class="col-sm-12 mt-2 nav flex-column text-center">
              <a class="nav-link" href="{% url 'vitrine_home_seller_category' category='celulares' pk=vitrine.pk %}">
              Celulares
              </a>
              <a class="nav-link" href="{% url 'vitrine_home_seller_category' category='informatica' pk=vitrine.pk %}">
              Informática
              </a>
              <a class="nav-link" href="{% url 'vitrine_home_seller_category' category='moda' pk=vitrine.pk %}">
              Moda
              </a>
            </nav>
          </div>
        </div>
        <div class="col-lg-6 mr-auto border">
          <h3 class="col-sm m-2 font-weight-light">Seus produtos</h3>
          <br>
          <div class="row">
            {% for produto in produtos %}
            <div class="card m-2" style="width:200px;">
              <img class="card-img-top" src="{{ produto.foto.url }}"
              alt="Imagem de capa selecionada pela vitrine para representar o produto">
              <div class="card-body">
                <h4 class="card-title">{{ produto.nome }}</h4>
                <p class="card-text">R$ {{ produto.valor }}</p>
                <a href="#" class="btn btn-primary" data-toggle="popover" data-placement="bottom" data-trigger="hover"
                data-content="Essa função ainda não está funcionando D:">Atualizar</a>
              </div>
            </div>
            {% empty %}
            <h2 class="m-2 font-weight-light">Sua vitrine não possui nenhum produto</h2>
            {% endfor %}
          </div>
        </div>
        <script>
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
          });
        </script>
        <div class="col-lg-4 border">
          <br>
          <img src="{{ vitrine.foto.url }}" class="img-thumbnail mt-0"
           alt="Imagem de capa selecionada pela respectiva vitrine para representa-la">
          <h3 class="col-lg m-3 font-weight-light">{{ vitrine.nome }}</h3>
          <div class="col-sm-auto mt-5 ml-3">
            <h5 class="font-weight-light"> {{ vitrine.descricao }} </h5>
          </div>
          <div class="col-sm-auto mt-5 ml-3">
            <h5 class="font-weight-light"> Número de acessos: {{vitrine.acessos }} </h5>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container-fluid col-sm-auto border">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9 border">
          <p class=" mx-auto m-3 display-4 text-center" id="title_showcase">
            Oops!! Infelizmente você ainda não possui sua vitrine virtual
            <a type="button" class="btn btn-info m-4 p-2 md-5" href="{% url 'vitrine_register' %}">
              Clique aqui caso você deseja criar sua própria vitrine
            </a>
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
